<div class="bg" style="background-image: url('images/home1.jpg');height: 100%">
    <select style="margin-left: 40%;margin-bottom: 2%;margin-top: 2%" class="option" name="searchField" [(ngModel)]="searchField" >
        <option  value="">--Select--</option>
        <option value="make">Make</option>
        <option value="model">Model</option>
    </select>
    <input class="option" type="text" [(ngModel)]="searchFieldValue"  />
    <input type="button" class="button" value="GO" (click)="searchCars();" />

    <table class="table" >
        <thead>
            <tr><th><b>LOGO</b></th><th>MAKE</th><th>MODEL</th><th>QUANTITY</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of cars ">

                <td><img width="100" height="100" [src]="imageUrl+car.logo"></td>
                <td ><b>{{car.make}}</b></td>
                <td ><b>{{car.model}}</b></td>
                <td ><b>{{car.qty}}</b></td>
                <td  *ngIf="car.qty <=3"><b class="alert">!!!!ALERT!!!<br/>Stock below threshold</b></td>
                <td *ngIf="car.qty <=3">  <button class="button"value="Add" routerLink="/add">Add</button></td>

                <td  *ngIf="car.qty >3 && editted===false" ><button class="button" value="delete1" (click)="show()">Delete</button></td>



                <td *ngIf="car.qty >3&&editted===true"><input  type="text" placeholder="quantity to delete" [(ngModel)]="qty"  />
                <td *ngIf="car.qty >3&&editted===true"> <input class="button" type="button" value="Delete" (click)="deleteCars(car.vin,qty);" /></td>
            </tr>
        </tbody>
    </table>
</div>