<div class='supplierForm'>
    <form name="supplierForm" #supplierForm="ngForm">
        <!--<div *ngIf="successMessage" [ngClass]="'success'"> Search for {{supplier.supplier_make}} {{supplier.supplier_model}} </div>-->
        <!--<div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}}</div>-->
        <h1>{{title}}</h1>
        <p class="form-group">
            <p>
                <label >Make</label>
                <select name=make (change)="getMake($event.target.value)">
                                <option value='' >--Select--</option>
                                <option *ngFor="let make of makes" value="{{make}}">
                                    {{make}}
                                </option>

                            </select>

                <!--<input type="text" class="form-control" id="supplier_make"-->
                       <!--[(ngModel)]="supplier_make" name="supplier_make" #make="ngModel"-->
                       </p>
            <p>
                <label >Model</label>
                <select name=model (change)="getModel($event.target.value)">
                                <option value=''>--Select--</option>
                                <option *ngFor="let model of models" value="{{model}}">
                                    {{model}}
                                </option>
                            </select>


                <!--<input type="text" class="form-control" id="supplier_model"-->

                <!--[(ngModel)]="supplier_model" name="supplier_model" #odel="ngModel">-->


            </p>
<p>
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity" min="0"  required
                   [(ngModel)]="car.qty" name="quantity" #quantity="ngModel" ></p>
            <div *ngIf="quantity.errors && (quantity.dirty || quantity.touched)" class="alert alert-danger">
                <div [hidden]="!quantity.errors.required">
                    Car quantity is required!
                </div>
                <div [hidden]="!quantity.errors.minlength">
                    Quantity must be at least 1.
                </div>
            </div>


            <input type='button' value='Search' (click)='searchCars();' [disabled]="!supplierForm.form.valid"/>

    </form>

        <table *ngIf="editted==true" class="supplierList">
            <div *ngIf="successMessage" [ngClass]="'success'"> {{car.make}} {{car.model}} Added.</div>
            <div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}}</div>
            <thead>
            <tr><th>Supplier Id</th><th>Supplier Name</th><th>Supplier Make</th><th>Supplier Model</th><th>Supplier Logo</th><th>Supplier Price</th></tr>
            </thead>
            <tbody>
            <tr  *ngFor="let supplier of suppliers">
                <td>{{supplier.supplier_id}} </td>
                <td>{{supplier.supplier_name}}</td>
                <td>{{supplier.supplier_make}}</td>
                <td>{{supplier.supplier_model}}</td>
                <td>{{supplier.supplier_price}}</td>
                <td><img width="100" height="100" [src]="imageUrl+supplier.supplier_logo"></td>
                <td><input type='button' value='Add'  (click)="addCar(supplier)"/>
                </td>

            </tr>
            </tbody>
        </table>
</div>